version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: echoid_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: echoid
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: